{% extends 'core/base.html.twig' %}

{% block body %}
	
	<main class="mt-5 pt-3">
		<div class="container">			
			<section>
				<h2 class="h1 text-center my-5 font-weight-bold">Artykuły z <i>{{ tag }}</i></h2>
				
				<div class="row text-left">
					
					{% for article in articles %}
						
						<div class="col-lg-6 col-md-12 d-flex align-items-stretch mb-5">
								<div class="card">
									<a href="{{ article.generateURL() }}">
										<div class="view overlay rounded z-depth-1-half mb-3" style="cursor: pointer;">
											<img src="{{ article.getTitleImageURL() }}" class="img-fluid" alt="Sample post image">
												<div class="mask rgba-white-slight"></div>
										</div>
									</a>
									
									<div class="card-body">
										<div class="news-data">
											<a href="/tag/{{ article.getTag() }}" class="light-blue-text">
												<h6><i class="fab fa-slack-hash"></i> <strong> {{ article.getTag() }}</strong></h6>
											</a>
											<p>
												<strong>
												<i class="fas fa-calendar-alt"></i> {{ article.getCreatedAt()|date('d/m/Y') }}</strong>
											</p>
										</div>
										<a href="{{ article.generateURL() }}" class="text-decoration-none">
											<h3><strong>{{ article.getTitle() }}</strong></h3>
										</a>
										<p>{{ article.getDescriptionShort() }}</p>
									</div>

								</div>
						</div>
						
					{% endfor %}
				</div>
			</section>
		</div>
	</main>
{% endblock %}