{% extends 'core/base.html.twig' %}

{% block nextTitle %} - {{ article.getTitle() }}{% endblock %}

{% block body %}
	
	<main class="mt-5 pt-5">
		<div class="container">
			
			<section>
				<div class="row">
					
					<div class="col-12">
						<div class="row">
							<div class="view overlay rounded z-depth-1-half mb-3 mx-auto" style="cursor: pointer; height: 600px; display: inline-block;">
							<img src="{{ article.getTitleImageURL() }}" class="img-fluid" style="height: 100%;">
							<div class="mask rgba-white-slight"></div>
						</div>
						</div>
						
						<div class="row text-right">
						<div class="col"><p style="font-size: 0.75rem; margin-top: -10px;">{{ article.getCreatedAt()|date('d/m/Y H:i:s') }}</p></div>
							
						</div>
						
						<h1>{{ article.getTitle() }}</h1>
						
						<div class="mx-3 mb-3">
							<h5>{{ article.getDescriptionShort() }}</h1>
						</div>
						
						<div class="card">
							<div class="card-body ck-content">
								<p>{{ article.getText()|raw }}</p>
							</div>
							
						</div>
					</div>
					
				</div>

				{% if is_granted('ROLE_ADMIN') %}
				<div class="row mt-3">
					<div class="col-12 text-right">
                            <a href="{{ path('panel_main') }}" class="nav-link border border-light rounded waves-effect"target="_blank">
                                <i class="fas fa-edit mr-2"></i> Edytuj post
                            </a>
					</div>
				</div>
                {% endif %}
			</section>
		</div>
	</main>
{% endblock %}


{% block javascripts %}
	<script src="/assets/js/ckeditor5/ckeditor.js"></script>
{% endblock %}

