{% extends 'core/base.html.twig' %}

{% block nextTitle %} - {{ article.getTitle() }}{% endblock %}

{% block body %}
	
	<main class="mt-5 pt-5">
		<div class="container">
			
			<section>
				<div class="row">
					
					<div class="col-12">
						<div class="view overlay rounded z-depth-1-half mb-3" style="cursor: pointer;">
							<img src="/uploads/images/{{ article.getTitleImage() }}" class="img-fluid">
							<div class="mask rgba-white-slight"></div>
						</div>
						<div class="row text-right">
						<div class="col"><p style="font-size: 0.75rem; margin-top: -10px;">{{ article.getCreatedAt()|date('d/m/Y H:i:s') }}</p></div>
							
						</div>
						
						<h1>{{ article.getTitle() }}</h1>
						
						<div class="mx-3 mb-3">
							<h5>{{ article.getDescriptionShort() }}</h1>
						</div>
						
						<div class="card">
							<div class="card-body ck-content">
								<p>{{ article.getText()|raw }}</p>
							</div>
							
						</div>
					</div>
					
				</div>
			</section>
		</div>
	</main>
{% endblock %}


{% block javascripts %}
	<script src="/assets/js/ckeditor5/ckeditor.js"></script>
{% endblock %}

