{% extends 'core/base.html.twig' %}

{% block body %}
	
	<main class="mt-5 pt-5">
		<div class="container">
			
			<section class="card" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');">
				
				<div class="card-body text-white text-center py-5 px-5 my-5">
					
					<h1 class="mb-4">
					<strong>Learn Bootstrap 4 with MDB</strong>
					</h1>
					<p>
						<strong>Best & free guide of responsive web design</strong>
					</p>
					<p class="mb-4">
						<strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written
						versions available. Create your own, stunning website.</strong>
					</p>
					
				</div>
			</section>
			
			<hr class="my-5">
			
			<section>
				<h2 class="h1 text-center my-5 font-weight-bold">Ostatnie artykuły</h2>
				
				<div class="row text-left">
					
					{% for article in articles %}
						
						<div class="col-lg-6 col-md-12 d-flex align-items-stretch mb-5">
								<div class="card">
									<a href="{{ article.generateURL() }}">
										<div class="view overlay rounded z-depth-1-half mb-3" style="cursor: pointer;">
											<img src="/uploads/images/{{ article.getTitleImage() }}" class="img-fluid" alt="Sample post image">
												<div class="mask rgba-white-slight"></div>
										</div>
									</a>
									
									<div class="card-body">
										<div class="news-data">
											<!-- <a href="/tag/travels" class="light-blue-text">
												<h6><i class="fas fa-plane"></i> <strong> Travels</strong></h6>
											</a> -->
											<p>
												<strong>
												<i class="fas fa-calendar-alt"></i> {{ article.getCreatedAt()|date('d/m/Y') }}</strong>
											</p>
										</div>
										<a href="{{ article.generateURL() }}" class="text-decoration-none">
											<h3><strong>{{ article.getTitle() }}</strong></h3>
										</a>
										<p>{{ article.getDescriptionShort() }}</p>
									</div>

								</div>
						</div>
						
					{% endfor %}
				</div>
			</section>
		</div>
	</main>
{% endblock %}