<header>
	<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar navbar-dark elegant-color">
		<div class="container">
			
			<a class="navbar-brand waves-effect" href="/">
				<strong>{{ app_name }}</strong>
			</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTopMenu" aria-controls="navbarTopMenu"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarTopMenu">
				
				<ul class="navbar-nav mr-auto">
					<li class="nav-item {{ (menuActive is defined and menuActive == 1) ? 'active' }}">
						<a class="nav-link waves-effect" href="/">Strona główna
						</a>
					</li>

					<li class="nav-item {{ (menuActive is defined and menuActive == 2) ? 'active' }}">
						<a class="nav-link waves-effect" href="/artykuly">Artykuły
						</a>
					</li>

					<li class="nav-item {{ (menuActive is defined and menuActive == 3) ? 'active' }}">
						<a class="nav-link waves-effect" href="/omnie">O mnie
						</a>
					</li>
				</ul>
                    <ul class="navbar-nav nav-flex-icons">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a href="{{ path('panel_main') }}" class="nav-link border border-light rounded waves-effect"
                                target="_blank">
                                <i class="fas fa-solar-panel mr-2"></i>Panel administracyjny
                            </a>
                        </li>
                        {% endif %}
                    </ul>
			</div>
		</div>
	</nav>
</header>